[Unit]
Description=Humidity Logger

[Service]
User=wernerfamily
Type=simple
Restart=always
RestartSec=10
KillSignal=SIGINT
ExecStart=/home/wernerfamily/humidity-logger/logger.py

[Install]
WantedBy=multi-user.target
