[Unit]
Description=Humidity Logger
After=influxdb.service

[Service]
User=wernerfamily
Type=simple
Restart=always
RestartSec=1
ExecStart=/home/wernerfamily/humidity-logger/logger.py

[Install]
WantedBy=multi-user.target
