apiVersion: 1

datasources:
  - name: InfluxDB_v2_Flux
    type: influxdb
    access: proxy
    url: http://%influxhost%:%influxport%
    jsonData:
      version: Flux
      organization: %influxorg%
      defaultBucket: %influxbucket%
      tlsSkipVerify: true
    secureJsonData:
      token: %influxtoken%
